<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Rule List</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid vh-100">
	<div class="row h-100">
		<!-- Sidebar gauche -->
		<div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-dark text-white">
			<h2 class="text-center">User Interface<br/>Functionality</h2>
			<p class="mt-3">Rule 6.3</p>
		</div>

		<!-- Partie droite -->
		<div class="col-md-8 d-flex flex-column p-4 position-relative">
			<!-- Navigation + utilisateur -->
			<div class="d-flex justify-content-between align-items-center mb-3">
				<div>
					<a href="/">Home</a>&nbsp;|&nbsp;
					<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
					<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
					<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
					<a href="/rule/list">Rule</a>&nbsp;|&nbsp;
					<a href="/user/list">User</a>
				</div>
				<div class="text-end">
                    <span th:if="${username != null}">
                        Logged in user: <b th:text="${username}"></b>
                    </span>
					<form th:action="@{/app/logout}" method="POST" class="d-inline-block ms-2">
						<input type="submit" value="Logout" class="btn btn-outline-secondary btn-sm"/>
					</form>
				</div>
			</div>

			<h3 class="text-center mb-3">Rule List Screen</h3>
			<h4 class="mb-3">Rule List</h4>

			<a href="/rule/add" class="btn btn-primary btn-sm mb-2 px-3 py-1">Add New</a>

			<table class="table table-bordered table-sm">
				<thead class="table-light">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Json</th>
					<th>Template</th>
					<th>SQL</th>
					<th>SQL Part</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="rule : ${rules}">
					<td th:text="${rule.id}"></td>
					<td th:text="${rule.name}"></td>
					<td th:text="${rule.description}"></td>
					<td th:text="${rule.json}"></td>
					<td th:text="${rule.template}"></td>
					<td th:text="${rule.sqlStr}"></td>
					<td th:text="${rule.sqlPart}"></td>
					<td class="text-center">
						<a th:href="@{/rule/update/{id}(id=${rule.id})}">Edit</a> |
						<a th:href="@{/rule/delete/{id}(id=${rule.id})}">Delete</a>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- Logo -->
<!--			<div class="position-absolute bottom-0 end-0 m-3">-->
<!--				<img src="../../static/css/imag/logo.PNG" alt="Poseidon Logo" style="height: 60px;">-->
<!--			</div>-->
		</div>
	</div>
</div>
</body>
</html>
